<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections></configSections>
	<connectionStrings>
		<add name="QUANLYGIANGDAY2ConnectionString"
			 connectionString="Data Source=MY-PC\SQLEXPRESS;Initial Catalog=QUANLYGIANGDAY2;Integrated Security=True;"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>