<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="QUANLYGIANGDAY2ConnectionString" connectionString="Data Source=DESKTOP-2HP30CE;Initial Catalog=QUANLYGIANGDAY; Integrated Security=True" />
		<add name="WindowsFormsApp1.Properties.Settings.QLSVConnectionString"
		 connectionString="Data Source=admin;Initial Catalog=QLSV;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>